.PropertiesFilters {
  align-items: center;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.PropertiesFilters select {
  padding: 20px 38px;
  border-radius: 999px; 
  border: 2px solid #004225; 
  background-color: white;
  color: #004225; 
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  appearance: none; 
}

.PropertiesFilters select:hover,
.PropertiesFilters select:focus {
  border-color: #006A4E; 
  background-color: #F4FFF9; 
  outline: none;
}


