.PropertyCard {
  border: 1px solid #E8C5A6;
  background-color: white;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
  padding: 16px;
  border-radius: 8px;
  height: 100%;
  box-sizing: border-box;
}

.PropertyCard h3 {
  color: #625041;
  margin-bottom: 0.5rem;
}

.PropertyCardLink {
  display: block;           
  text-decoration: none;    
  color: black; 
  cursor: default;     
}

.PropertyCard img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.PropertyCard button {
  background-color: white;      
  color: #004225;                
  border: 2px solid #004225;     
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;;
  margin-top: 15px;
  font-size: 14px;
  transition: background-color 0.2s, color 0.2s;
}

.PropertyCard button:hover {
  background-color: #004225;    
  color: white; 
}



