.PropertyCard {
  border: 1px solid white;
  background-color: #E8C5A6;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
  padding: 16px;
  border-radius: 8px;
  height: 100%;
  box-sizing: border-box;
}
}

.PropertyCard h3 {
  color: #625041;
  margin-bottom: 0.5rem;
}

.PropertyCardLink {
  display: block;           
  text-decoration: none;    
  color: black; 
  cursor: default;     
}


