.header {
  display: flex;             
  align-items: center;        
  justify-content: center; 
  gap: 50px;                  
  background-color: #004225; 
  color: white;      
}        

.logo {
  height: 100px;   
  width: auto;    
}