.header {
  height: 10vw;
  width: 100%;
  display: flex;             
  align-items: center;        
  justify-content: center; 
  gap: 500px;                  
  background-color: #004225; 
  color: white;      
}        

.logo {
  height: 100px;   
  width: auto;    
}