.properties.filter {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 16px;
}

.properties-filter button {
  padding: 12px;
  border-radius: 8px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
  display: inline-block;
  margin: 0 8px;
}