.grid-container {
  border: green 2px solid;
  grid-area: grid;
  overflow: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  column-gap: 10px;
  row-gap: 30px;
  justify-content: space-around;
  padding: 10px 50px;
}
