.properties-filters {
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #665648; 
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.properties-filters select {
  padding: 8px;
  border-radius: 20px;
  border: 2px solid #665648; 
  background-color: white; 
  color: #625041;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.properties-filters select:hover,
.properties-filters select:focus {
  border-color: #7b9c95; 
  background-color: #fff;
  outline: none;
}

