.property-card {
  border: 1px solid white;
  background-color: #E8C5A6;
  border-radius: 20px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
  padding: 10 px;
}

.property-card h3 {
  color: #625041;
  margin-bottom: 0.5rem;
}

