.root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400px;
}

.App {
  background-color: #5C573E;
  width: 100vw;
  height: auto;
  text-align: center;
  padding-top: 7.5vw;
}


