.root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400px;
}

.App {
  background-color: #D0987F;
  width: 100vw;
  height: 100vw;
  text-align: center;

}


